<% if @url_errors || @urls_user_errors %>
<ul>
  <% if @url_errors %>
  <% @url_errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  <% end %>
  <% if @urls_user_errors %>
  <% @urls_user_errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  <% end %>
</ul>
<% end %>

<form id="login_form" action='/create_url' method='post'>
  URL: <input type="text" name='url'><br>
  <input type="submit" value="Submit">
</form>

<% if @user %>
  <table>
    <tr>
      <td> Shortened URl</td>
      <td> Normal URL</td>
    </tr>
    <% @user.urls.each do |url|%>
    <tr>
   <td><%=url.tiny_url%></td>
   <td><%=url.url%></td>
    </tr>
    <% end %>
  </table>
<% end %>
