<% if @errors %>
<ul>
  <% @errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>
<% end %>

<%= @error_message %> 
<form id="login_form" action='/url' method='post'>
  URL: <input type="text" name='url'><br>
  <input type="submit" value="Submit">
</form>
